@import url('https://fonts.googleapis.com/css?family=Advent+Pro:200|Poiret+One');

body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: linear-gradient(to bottom, #3399ff -11%, #00cc99 119%);
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
}

.header {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Poiret One', cursive;
  color: white;
  margin-top: 350px;
}

.header h1 {
  font-size: 55px;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  display: none;
}


.footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 25px;
  color: white;
  font-family: 'Poiret One', cursive;
}

.footer p:first-child {
  display: none;
  color: orange;
}

a, a:link, a:hover, a:visited {
  color: white;
}

.footer i {
  color: red;
}
